---
Checks:                '-*,clang-analyzer-*,modernize-*,portability-*,bugprone-*'
WarningsAsErrors:      '*'
HeaderFilterRegex:     '.*'
AnalyzeTemporaryDtors: true
FormatStyle:           'file'
...
